<p id="notice"><%= notice %></p>

<p>
  <strong>Tip descripcion:</strong>
  <%= @tipo_producto.tip_descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_producto_path(@tipo_producto) %> |
<%= link_to 'Back', tipo_productos_path %>
