<p id="notice"><%= notice %></p>

<p>
  <strong>Tpp descripcion:</strong>
  <%= @tipo_pago.tpp_descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_pago_path(@tipo_pago) %> |
<%= link_to 'Back', tipo_pagos_path %>
