<p id="notice"><%= notice %></p>

<p>
  <strong>Tco descripcion:</strong>
  <%= @tipo_compra.tco_descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_compra_path(@tipo_compra) %> |
<%= link_to 'Back', tipo_compras_path %>
