<p id="notice"><%= notice %></p>

<p>
  <strong>Esh descripcion:</strong>
  <%= @estado_habilitado.esh_descripcion %>
</p>

<%= link_to 'Edit', edit_estado_habilitado_path(@estado_habilitado) %> |
<%= link_to 'Back', estado_habilitados_path %>
