<p id="notice"><%= notice %></p>

<p>
  <strong>Tpt descripcion:</strong>
  <%= @tipo_trabajador.tpt_descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_trabajador_path(@tipo_trabajador) %> |
<%= link_to 'Back', tipo_trabajadors_path %>
