<p id="notice"><%= notice %></p>

<p>
  <strong>Ede descripcion:</strong>
  <%= @estado_despacho.ede_descripcion %>
</p>

<%= link_to 'Edit', edit_estado_despacho_path(@estado_despacho) %> |
<%= link_to 'Back', estado_despachos_path %>
