<p id="notice"><%= notice %></p>

<p>
  <strong>Tta descripcion:</strong>
  <%= @tipo_tarjet.tta_descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_tarjet_path(@tipo_tarjet) %> |
<%= link_to 'Back', tipo_tarjets_path %>
