<p id="notice"><%= notice %></p>

<p>
  <strong>Ttu descripcio:</strong>
  <%= @tipo_turno.ttu_descripcio %>
</p>

<%= link_to 'Edit', edit_tipo_turno_path(@tipo_turno) %> |
<%= link_to 'Back', tipo_turnos_path %>
